@use './universal/colors';
@use './universal/mixins/flexbox';
@use './back_container/back_container-index';
@use './difficulty_picker/difficulty_picker-index';
@use './front_container/front_container-index';
// @use './universal/mixins/flexbox';
@import './font_awesome/css/all.min.css';

.container {
    @include flexbox.flexbox(center, center);
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    &__face {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: colors.$background;
    }
}

body {
    overflow: hidden;
    margin: 0;
}
