@use '../universal/mixins/flexbox';

.back-face--container-relative-measures-holder {
    @include flexbox.flexbox(center, flex-start, nowrap, column);
    position: absolute;
    top: 10px;
    left: 10px;
}

.measurer {
    color: white;
    font-size: 1.2rem;
}