@use '../universal/mixins/transform';
@use '../universal/mixins/prefixes';
@use './header';
@use './image';
@use './images_container';
@use './nav';

.container__face--front {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    @include prefixes.prefixes(transform-origin, top, (webkit, moz, ms, o));
    @include prefixes.prefixes(transition, .4s ease-in, (moz, o, webkit));
    @include transform.transform(rotateX(0deg));
    &--hidden {
        @include transform.transform(rotateX(180deg));
    }
}

.container__face--front--hidden {
    @include transform.transform(rotateX(180deg));
}