@use '../universal/mixins/flexbox';
@use '../universal/mixins/prefixes';
@use '../universal/media-breakpoints' as bp;

.front-face__images-container {
    @include flexbox.flexbox(space-evenly, center, wrap, row);
    @include prefixes.prefixes(box-sizing, border-box, (webkit, moz));
    float: right;
    overflow-y: scroll;
    width: calc(100vw - 80px);
    // height: 80vh;
    overflow: auto;
    flex: auto;
    padding: 20px;
    box-sizing: border-box;
}
