@use '../universal/mixins/flexbox';
@use '../universal/mixins/prefixes';
@use '../universal/colors';
@use '../universal/mixins/transform';
@use '../universal/mixins/transition';
@use '../universal/media-breakpoints' as bp;

.front-face__nav {
    width: 300px;
    height: auto;
    border: 2px solid white;
    background: colors.$background;
    z-index: 1;
    padding: 10px;
    position: absolute;
    left: -245px;
    @include transition.transition(.5s ease-out);
    @include flexbox.flexbox(center, center);
    @include transform.transform(translateX(none));

    * {
        color: white;
    }

    &__categories-holder {
        @include flexbox.flexbox(space-evenly, center, nowrap, column);
        width: 245px;
        height: 100%;
        min-width: 165px;
    }

    &__categories-list {
        list-style: none;
        padding: 0;

        &-item {
            width: auto;
            height: auto;
            padding: 10px 20px;
            font-size: 1.2rem;
            border: 2px solid white;
            margin-top: 10px;
            text-align: left;
        }
    }

    &__show-menu-btn {
        border-radius: 10%;
        &-hamburger {
            width: 30px;
            height: 3px;
            background: white;
            position: relative;
            display: inline-block;
            @include transition.transition(.2s .1s background);
        
            &::before, &::after {
                @include transition.transition(.3s ease-in);
                content: '';
                width: 100%;
                height: 100%;
                background: white;
                left: 0;
                position: absolute;
            }
        
            &::before {
                bottom: 6px;
            }
        
            &::after {
                top: 6px;
            }
        }
    }

    &__social-media-holder {
        width: 55px;
        height: 100%;
        
        button {
            width: 50px;
            height: 50px;
            border: 1px solid white;
            margin-top: 5px;
            text-align: center;
        }

        &-btn {
            border-radius: 50%;
        }
    }
    &--shown {
        @include transform.transform(translateX(245px));

        .front-face__nav__show-menu-btn-hamburger {
            background: none;
    
            &::before {
                @include transform.transform(rotate(45deg));
                bottom: 0;
            }
    
            &::after {
                @include transform.transform(rotate(-45deg));
                top: 0;
            }
        }
    }
}


@for $i from 1 through 4 {
    .front-face__nav__social-media-holder button:nth-of-type(#{$i}),
    .front-face__nav__categories-list-item:nth-of-type(#{$i}) {
        background: nth(colors.$colors, $i);
    }
}

@media not all and (pointer: coarse) and (hover: none) {
    .front-face__nav-categories-list-item:hover,
    .front-face__nav-social-media-holder > button:hover {
        cursor: pointer;
    }
}

@media (max-width: bp.$tablet-breakpoint) and (orientation: landscape) {
    .front-face__nav {
        top: 1.5px;
    }
}